In [1]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime

# CSV file
# df = pd.read_csv(r"C:\Users\Cash\Downloads\archive\raw_data.csv",index_col = "Indice",low_memory = False,parse_dates = ["fecha_hecho"])

# Parquet file
df = pd.read_parquet(r"raw_data.parquet")

        Indice  departamento            municipio codigo_dane  ... fecha_hecho     genero grupo_etario cantidad
0            0     ATLÁNTICO    BARRANQUILLA (CT)     8001000  ...   1/01/2010  MASCULINO      ADULTOS        1
1            1        BOYACÁ              DUITAMA    15238000  ...   1/01/2010   FEMENINO      ADULTOS        1
2            2       CAQUETÁ          PUERTO RICO    18592000  ...   1/01/2010  MASCULINO      ADULTOS        1
3            3      CASANARE                 MANÍ    85139000  ...   1/01/2010   FEMENINO      ADULTOS        1
4            4  CUNDINAMARCA     BOGOTÁ D.C. (CT)    11001000  ...   1/01/2010   FEMENINO      ADULTOS        1
...        ...           ...                  ...         ...  ...         ...        ...          ...      ...
575716  575716         VALLE              CARTAGO    76147000  ...  28/02/2023   FEMENINO      ADULTOS        1
575717  575717         VALLE              GUACARÍ    76318000  ...  28/02/2023   FEMENINO      ADULTOS        1
575718  575718         VALLE  GUADALAJARA DE BUGA    76111000  ...  28/02/2023   FEMENINO      ADULTOS        1
575719  575719         VALLE              PALMIRA    76520000  ...  28/02/2023   FEMENINO      ADULTOS        2
575720  575720         VALLE                YUMBO    76892000  ...  28/02/2023   FEMENINO      ADULTOS        1

[575721 rows x 9 columns]

In [181]:
df["fecha_hecho"] = pd.to_datetime(df["fecha_hecho"], format = "%d/%m/%Y")
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 575721 entries, 0 to 575720
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   departamento  575721 non-null  object
 1   municipio     575721 non-null  object
 2   codigo_dane   575721 non-null  object
 3   armas_medios  575721 non-null  object
 4   fecha_hecho   575721 non-null  datetime64[ns]
 5   genero        575721 non-null  object
 6   grupo_etario  574110 non-null  object
 7   cantidad      575721 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 39.5+ MB

In [182]:
#Creating index
df["Index"] = list(range(1,df.shape[0]+1))
df.set_index("Index", inplace = True)
df

,departamento,municipio,codigo_dane,armas_medios,fecha_hecho,genero,grupo_etario,cantidad
Index,,,,,,,,
1,ATLÁNTICO,BARRANQUILLA (CT),8001000,ARMA BLANCA / CORTOPUNZANTE,2010-01-01,MASCULINO,ADULTOS,1
2,BOYACÁ,DUITAMA,15238000,ARMA BLANCA / CORTOPUNZANTE,2010-01-01,FEMENINO,ADULTOS,1
3,CAQUETÁ,PUERTO RICO,18592000,ARMA BLANCA / CORTOPUNZANTE,2010-01-01,MASCULINO,ADULTOS,1
4,CASANARE,MANÍ,85139000,ARMA BLANCA / CORTOPUNZANTE,2010-01-01,FEMENINO,ADULTOS,1
5,CUNDINAMARCA,BOGOTÁ D.C. (CT),11001000,ARMA BLANCA / CORTOPUNZANTE,2010-01-01,FEMENINO,ADULTOS,1
...,...,...,...,...,...,...,...,...
575717,VALLE,CARTAGO,76147000,SIN EMPLEO DE ARMAS,2023-02-28,FEMENINO,ADULTOS,1
575718,VALLE,GUACARÍ,76318000,SIN EMPLEO DE ARMAS,2023-02-28,FEMENINO,ADULTOS,1
575719,VALLE,GUADALAJARA DE BUGA,76111000,SIN EMPLEO DE ARMAS,2023-02-28,FEMENINO,ADULTOS,1
575720,VALLE,PALMIRA,76520000,SIN EMPLEO DE ARMAS,2023-02-28,FEMENINO,ADULTOS,2
575721,VALLE,YUMBO,76892000,SIN EMPLEO DE ARMAS,2023-02-28,FEMENINO,ADULTOS,1

In [85]:
#Number of incidents by year ordered by largest to smallest

dfx = df.copy()
dfx["fecha_hecho"] = dfx["fecha_hecho"].dt.year
x = dfx.groupby("fecha_hecho")[["cantidad"]].sum().reset_index().sort_values(by = "cantidad", ascending = False)
print(f'The total of deaths is: {x["cantidad"].sum()}')
values = {"fecha_hecho": "Years of incidents", "cantidad": "Total deaths"}
dfx.groupby("fecha_hecho")[["cantidad"]].sum().reset_index().sort_values(by = "cantidad", ascending = False).rename(columns = values)

The total of deaths is: 1035190

    Years of incidents  Total deaths
12                2022        131531
11                2021        117132
9                 2019        116505
10                2020        113567
7                 2017        100527
8                 2018         99906
6                 2016         97139
5                 2015         75699
4                 2014         48440
3                 2013         33076
2                 2012         32417
1                 2011         27194
0                 2010         23171
13                2023         18886

In [103]:
#Number of deaths caused by sharp elements("ARMA BLANCA / CORTOPUNZANTE")
print(f'The number of deaths caused by sharp elements is: {df.loc[df["armas_medios"]== "ARMA BLANCA / CORTOPUNZANTE", "cantidad"].sum()}')
df.loc[df["armas_medios"]== "ARMA BLANCA / CORTOPUNZANTE"]

The number of deaths caused by sharp elements is: 47863

,departamento,municipio,codigo_dane,armas_medios,fecha_hecho,genero,grupo_etario,cantidad
Index,,,,,,,,
1,ATLÁNTICO,BARRANQUILLA (CT),8001000,ARMA BLANCA / CORTOPUNZANTE,2010-01-01,MASCULINO,ADULTOS,1
2,BOYACÁ,DUITAMA,15238000,ARMA BLANCA / CORTOPUNZANTE,2010-01-01,FEMENINO,ADULTOS,1
3,CAQUETÁ,PUERTO RICO,18592000,ARMA BLANCA / CORTOPUNZANTE,2010-01-01,MASCULINO,ADULTOS,1
4,CASANARE,MANÍ,85139000,ARMA BLANCA / CORTOPUNZANTE,2010-01-01,FEMENINO,ADULTOS,1
5,CUNDINAMARCA,BOGOTÁ D.C. (CT),11001000,ARMA BLANCA / CORTOPUNZANTE,2010-01-01,FEMENINO,ADULTOS,1
...,...,...,...,...,...,...,...,...
575345,VALLE,CALI (CT),76001000,ARMA BLANCA / CORTOPUNZANTE,2023-02-26,MASCULINO,ADULTOS,1
575496,CALDAS,LA DORADA,17380000,ARMA BLANCA / CORTOPUNZANTE,2023-02-27,FEMENINO,ADULTOS,1
575608,ANTIOQUIA,GUARNE,05318000,ARMA BLANCA / CORTOPUNZANTE,2023-02-28,FEMENINO,ADULTOS,1
575609,ANTIOQUIA,MEDELLÍN (CT),05001000,ARMA BLANCA / CORTOPUNZANTE,2023-02-28,FEMENINO,ADULTOS,1
575610,CALDAS,AGUADAS,17013000,ARMA BLANCA / CORTOPUNZANTE,2023-02-28,FEMENINO,ADULTOS,1

In [123]:
#Number of deaths caused by shooting in states("ARMA DE FUEGO")
values = {"departamento":"State", "cantidad": "Total deaths"}
print(f'The number of deaths caused by shooting is: {df.loc[df["armas_medios"]== "ARMA DE FUEGO", "cantidad"].sum()}')
df.loc[df["armas_medios"]== "ARMA DE FUEGO"].groupby("departamento")[["cantidad"]].sum().reset_index().sort_values(by = "cantidad", ascending = False).rename(columns = values)

The number of deaths caused by shooting is: 2845

                 State  Total deaths
12        CUNDINAMARCA           429
28               VALLE           393
1            ANTIOQUIA           240
25           SANTANDER           239
3            ATLÁNTICO           180
4              BOLÍVAR           169
20  NORTE DE SANTANDER           144
10               CESAR           111
16               HUILA           103
18                META            91
27              TOLIMA            90
9                CAUCA            76
5               BOYACÁ            65
17           MAGDALENA            64
23           RISARALDA            60
19              NARIÑO            53
26               SUCRE            45
22             QUINDÍO            44
14             GUAJIRA            44
8             CASANARE            38
6               CALDAS            36
13             CÓRDOBA            30
7              CAQUETÁ            28
11               CHOCÓ            22
2               ARAUCA            15
21            PUTUMAYO            12
24          SAN ANDRÉS            12
15            GUAVIARE             9
29             VICHADA             2
0             AMAZONAS             1

In [124]:
#Number of deaths by state
values = {"departamento":"State", "cantidad": "Total deaths"}
df.groupby("departamento")[["cantidad"]].sum().reset_index().sort_values(by = "cantidad",ascending = False).rename(columns = values)

                 State  Total deaths
12        CUNDINAMARCA        342760
1            ANTIOQUIA        127278
30               VALLE         95160
27           SANTANDER         65103
5               BOYACÁ         40444
3            ATLÁNTICO         33884
4              BOLÍVAR         30066
19                META         30066
29              TOLIMA         27695
17               HUILA         26407
20              NARIÑO         25745
22  NORTE DE SANTANDER         25565
25           RISARALDA         23684
9                CAUCA         23553
18           MAGDALENA         16224
13             CÓRDOBA         16199
28               SUCRE         14133
6               CALDAS         12683
10               CESAR         12380
8             CASANARE          8549
7              CAQUETÁ          6847
24             QUINDÍO          6686
15             GUAJIRA          5874
2               ARAUCA          4900
23            PUTUMAYO          4136
11               CHOCÓ          2773
0             AMAZONAS          1716
26          SAN ANDRÉS          1622
16            GUAVIARE          1301
14             GUAINÍA           665
31              VAUPÉS           567
32             VICHADA           519
21          NO REPORTA             6

In [118]:
#Number of deaths by shooting in CUNDINAMARCA
print(f'The number of deaths by shooting in CUNDINAMARCA is: {df.loc[(df["armas_medios"] == "ARMA DE FUEGO") & (df["departamento"] == "CUNDINAMARCA"), "cantidad"].sum()}')
df.loc[
    (df["armas_medios"] == "ARMA DE FUEGO") & 
    (df["departamento"] == "CUNDINAMARCA")
]

# df.loc[(df["armas_medios"] == "ARMA DE FUEGO") & (df["departamento"] == "CUNDINAMARCA"), "cantidad"].sum()

The number of deaths by shooting in CUNDINAMARCA is: 429

,departamento,municipio,codigo_dane,armas_medios,fecha_hecho,genero,grupo_etario,cantidad
Index,,,,,,,,
3798,CUNDINAMARCA,SOACHA,25754000,ARMA DE FUEGO,2010-03-18,FEMENINO,ADULTOS,1
4898,CUNDINAMARCA,BOGOTÁ D.C. (CT),11001000,ARMA DE FUEGO,2010-04-15,FEMENINO,ADULTOS,1
6995,CUNDINAMARCA,BOGOTÁ D.C. (CT),11001000,ARMA DE FUEGO,2010-05-30,FEMENINO,ADULTOS,1
7247,CUNDINAMARCA,BOGOTÁ D.C. (CT),11001000,ARMA DE FUEGO,2010-06-05,FEMENINO,ADULTOS,1
7732,CUNDINAMARCA,BOGOTÁ D.C. (CT),11001000,ARMA DE FUEGO,2010-06-16,FEMENINO,ADULTOS,1
...,...,...,...,...,...,...,...,...
538600,CUNDINAMARCA,BOGOTÁ D.C. (CT),11001000,ARMA DE FUEGO,2022-06-12,FEMENINO,ADULTOS,1
568810,CUNDINAMARCA,SAN JUAN DE RÍO SECO,25662000,ARMA DE FUEGO,2023-01-10,FEMENINO,ADOLESCENTES,1
568811,CUNDINAMARCA,SAN JUAN DE RÍO SECO,25662000,ARMA DE FUEGO,2023-01-10,MASCULINO,MENORES,1
572961,CUNDINAMARCA,FACATATIVÁ,25269000,ARMA DE FUEGO,2023-02-08,FEMENINO,ADULTOS,1
573858,CUNDINAMARCA,BOGOTÁ D.C. (CT),11001000,ARMA DE FUEGO,2023-02-14,FEMENINO,ADULTOS,1

In [122]:
#Number of deaths by age range
values = {"grupo_etario": "Age range", "cantidad":"Total deaths"}
df.groupby("grupo_etario")[["cantidad"]].sum().reset_index().sort_values(by = "cantidad", ascending = False).rename(columns = values)

      Age range  Total deaths
1       ADULTOS        938266
2       MENORES         50940
0  ADOLESCENTES         42919
3    NO REPORTA           299
4  NO REPORTADO           244

In [129]:
#Max amount of deaths in a day by state in 2016
values = {"departamento":"State", "cantidad": "Total deaths"}
df.groupby("departamento")[["cantidad"]].max().reset_index().sort_values(by = "cantidad", ascending = False).rename(columns = values)

                 State  Total deaths
12        CUNDINAMARCA           143
1            ANTIOQUIA            45
30               VALLE            35
27           SANTANDER            29
22  NORTE DE SANTANDER            25
4              BOLÍVAR            22
17               HUILA            21
24             QUINDÍO            19
20              NARIÑO            17
3            ATLÁNTICO            17
5               BOYACÁ            16
19                META            15
18           MAGDALENA            15
10               CESAR            14
29              TOLIMA            13
13             CÓRDOBA            12
9                CAUCA            12
25           RISARALDA            12
6               CALDAS             8
28               SUCRE             8
23            PUTUMAYO             6
0             AMAZONAS             6
15             GUAJIRA             6
8             CASANARE             6
7              CAQUETÁ             6
2               ARAUCA             6
11               CHOCÓ             5
26          SAN ANDRÉS             5
31              VAUPÉS             5
16            GUAVIARE             4
14             GUAINÍA             3
32             VICHADA             3
21          NO REPORTA             1

In [161]:
#Comparison of female deaths in 2010 and 2020
values = {
    "cantidad_x":"Total deaths 2010",
    "cantidad_y":"Total deaths 2020",
    "genero":"gender"
    }
deaths_2010= df.loc[(df["genero"] == "FEMENINO") & (df["fecha_hecho"].dt.year == 2010)].groupby("genero")[["cantidad"]].sum().reset_index()
deaths_2020= df.loc[(df["genero"] == "FEMENINO") & (df["fecha_hecho"].dt.year == 2020)].groupby("genero")[["cantidad"]].sum().reset_index()

deaths_comp= deaths_2010.merge(deaths_2020, how = "left", left_on = "genero", right_on = "genero")
deaths_comp.rename(columns = values, inplace = True)
def calculo(deaths_comp):
    value = (deaths_comp["Total deaths 2020"] / deaths_comp["Total deaths 2010"])*100
    return round(value,2)
deaths_comp["% Diference"] = deaths_comp.apply(calculo, axis = 1)
deaths_comp

     gender  Total deaths 2010  Total deaths 2020  % Diference
0  FEMENINO              19098              87803       459.75

In [187]:
#Remove duplicates

df = df.loc[df.duplicated(subset = ["cantidad"],keep = False) & df.duplicated(keep = False)].drop_duplicates(subset = ["departamento"], keep = "last")
df

,departamento,municipio,codigo_dane,armas_medios,fecha_hecho,genero,grupo_etario,cantidad
Index,,,,,,,,
387571,GUAINÍA,INÍRIDA (CT),94001000,CONTUNDENTES,2020-04-17,MASCULINO,ADULTOS,1
387638,VICHADA,CUMARIBO,99773000,NO REPORTADO,2020-04-17,FEMENINO,ADULTOS,1
411459,AMAZONAS,LETICIA (CT),91001000,CONTUNDENTES,2020-07-17,FEMENINO,ADULTOS,1
436899,GUAVIARE,SAN JOSÉ DEL GUAVIARE (CT),95001000,CONTUNDENTES,2020-10-18,FEMENINO,ADULTOS,1
444162,VAUPÉS,MITÚ (CT),97001000,CONTUNDENTES,2020-11-13,MASCULINO,ADULTOS,1
447362,GUAJIRA,RIOHACHA (CT),44001000,NO REPORTADO,2020-11-25,FEMENINO,ADULTOS,1
449541,CHOCÓ,QUIBDÓ (CT),27001000,CONTUNDENTES,2020-12-04,FEMENINO,ADULTOS,1
451186,PUTUMAYO,PUERTO ASÍS,86568000,SIN EMPLEO DE ARMAS,2020-12-10,FEMENINO,ADULTOS,1
452106,SAN ANDRÉS,SAN ANDRÉS (CT),88001000,SIN EMPLEO DE ARMAS,2020-12-14,FEMENINO,ADULTOS,1
452843,CALDAS,MANIZALES (CT),17001000,SIN EMPLEO DE ARMAS,2020-12-19,FEMENINO,ADULTOS,1
453666,ARAUCA,ARAUQUITA,81065000,SIN EMPLEO DE ARMAS,2020-12-24,FEMENINO,ADULTOS,1
453875,CAQUETÁ,FLORENCIA (CT),18001000,SIN EMPLEO DE ARMAS,2020-12-25,FEMENINO,ADULTOS,1
453889,CESAR,VALLEDUPAR (CT),20001000,SIN EMPLEO DE ARMAS,2020-12-25,FEMENINO,ADULTOS,1
453896,CÓRDOBA,MONTERÍA (CT),23001000,CONTUNDENTES,2020-12-25,FEMENINO,ADULTOS,1
453986,HUILA,NEIVA (CT),41001000,SIN EMPLEO DE ARMAS,2020-12-25,FEMENINO,ADULTOS,1
453997,MAGDALENA,SANTA MARTA (CT),47001000,SIN EMPLEO DE ARMAS,2020-12-25,FEMENINO,ADULTOS,1
454012,NARIÑO,PASTO (CT),52001000,SIN EMPLEO DE ARMAS,2020-12-25,FEMENINO,ADULTOS,1
454037,SUCRE,SINCELEJO (CT),70001000,SIN EMPLEO DE ARMAS,2020-12-25,FEMENINO,ADULTOS,1
454185,QUINDÍO,ARMENIA (CT),63001000,CONTUNDENTES,2020-12-26,FEMENINO,ADULTOS,1
454187,RISARALDA,PEREIRA (CT),66001000,SIN EMPLEO DE ARMAS,2020-12-26,FEMENINO,ADULTOS,1
454227,ATLÁNTICO,BARRANQUILLA (CT),8001000,SIN EMPLEO DE ARMAS,2020-12-27,FEMENINO,NaN,1
454230,BOLÍVAR,CARTAGENA (CT),13001000,SIN EMPLEO DE ARMAS,2020-12-27,FEMENINO,ADULTOS,1
454241,CASANARE,YOPAL (CT),85001000,CONTUNDENTES,2020-12-27,FEMENINO,ADULTOS,1
454244,CAUCA,POPAYÁN (CT),19001000,SIN EMPLEO DE ARMAS,2020-12-27,FEMENINO,ADULTOS,1
454297,NORTE DE SANTANDER,CÚCUTA (CT),54001000,SIN EMPLEO DE ARMAS,2020-12-27,MASCULINO,ADULTOS,1
454303,SANTANDER,BARRANCABERMEJA,68081000,SIN EMPLEO DE ARMAS,2020-12-27,FEMENINO,ADULTOS,1
454349,BOYACÁ,TUNJA (CT),15001000,CONTUNDENTES,2020-12-28,FEMENINO,ADULTOS,1
454441,VALLE,YUMBO,76892000,SIN EMPLEO DE ARMAS,2020-12-28,FEMENINO,ADULTOS,1
454447,ANTIOQUIA,MEDELLÍN (CT),5001000,SIN EMPLEO DE ARMAS,2020-12-29,FEMENINO,NaN,1
454518,META,VILLAVICENCIO (CT),50001000,SIN EMPLEO DE ARMAS,2020-12-30,FEMENINO,ADULTOS,1
454535,CUNDINAMARCA,BOGOTÁ D.C. (CT),11001000,SIN EMPLEO DE ARMAS,2020-12-31,FEMENINO,ADULTOS,1
454544,TOLIMA,IBAGUÉ (CT),73001000,CONTUNDENTES,2020-12-31,FEMENINO,ADULTOS,1